doctype html
html(lang="it")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="author",	content="Sir Xiradorn")
		meta(name="description", content="Base 64 File Encoder")

		title Xir-Base64 Image Encoder 

		// Style section 
		//- link(rel="stylesheet", type="text/css", href="assets/css/bootstrap.min.css")
		//link(rel="stylesheet", type="text/css", href="css/assets/bootstrap-theme.min.css")
		link(rel="stylesheet", type="text/css", href="assets/css/main.css")

	body
		
		//- Vars for images
		include ./includes/imgs/_img1
		include ./includes/imgs/_img2
		include ./includes/imgs/_img3
		include ./includes/imgs/_img4
		include ./includes/imgs/_img5
		include ./includes/imgs/_img6
		
		include ./includes/_navbar

		include ./includes/_form
		
		include ./includes/_footer

		// Js section
		script(src="assets/js/jquery/jquery.min.js")
		script(src="assets/js/bootstrap/bootstrap.min.js")
		script(src="assets/js/functions.js")
