div(id="footer")
	div(class="container")
		p(class="muted credit text-center") Copyright 2014-2016 by 
			a(href="http://martinbean.co.uk") Sir Xiradorn &nbsp;
			a(href="https://validator.w3.org/nu")
				img(src="https://img.shields.io/badge/html5-valid-blue.svg", alt="html5-valid") 
